<script src="https://cdn.jsdelivr.net/npm/notyf/notyf.min.js"></script>
<script>
  const notyf = new Notyf({
    duration: 5000,
    position: {
      x: 'right',
      y: 'top',
    },
    types: [
      {
        type: 'info',
        background: '#0284c7',
        icon: false
      }
    ]
  });

  document.body.addEventListener('htmx:afterRequest', function(evt) {
    if (evt.detail.elt.id === 'notifications-container') {
      const response = JSON.parse(evt.detail.xhr.responseText);
      response.notifications.forEach(function(message) {
        notyf.open({
          type: 'info',
          message: message
        });
      });
    }
  });
</script>
