<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="color-scheme" content="light dark">
  <link rel="stylesheet" href="/static/pico.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
  {% block header %} {% endblock %}
</head>

<body hx-headers='{"X-API-Key": "{{ request.cookies.get("X-API-Key", "") }}"}'>
  <main class="container">
    {% block content %} {% endblock content %}
  </main>
  <div id="notifications-container"
       hx-get="/api/notifications"
       hx-trigger="every 5s"
       hx-swap="none">
  </div>
  <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
  <script>
    document.body.addEventListener('htmx:afterRequest', function(evt) {
      if (evt.detail.elt.id === 'notifications-container') {
        const response = JSON.parse(evt.detail.xhr.responseText);
        response.notifications.forEach(function(message) {
          Toastify({
            text: message,
            duration: 3000,
            close: true,
            gravity: "top",
            position: "right",
          }).showToast();
        });
      }
    });
  </script>
  {% block script %} {% endblock script %}
</body>

</html>
