{% extends 'base.html' %}
{% block header %}
<title>Zoho AttCtrl</title>
{% endblock header %}

{% block content %}
<section class="grid">
    <h1>Zoho People Attendance Control</h1>
    {% if Config.APP_AUTH %}
    <button hx-post="/logout" hx-trigger="click" hx-swap="none">Logout</button>
    {% endif %}
</section>
<section>
    {% include "components/new_task.html" %}
</section>
<section>
<div hx-get="/tasks" hx-trigger="load" />
</section>
{% endblock content %}

{% block script %}
{% include "scripts/htmx.html" %}
{% include "scripts/validation.html" %}
{% endblock script %}
