{% extends 'base.html' %}
{% block header %}
<title>Zoho AttCtrl</title>
{% endblock header %}

{% block content %}
<section>
    <h1>Zoho People Attendance Control</h1>
    {% include "components/datetime.html" %}
</section>
<section>
    {% include "components/new_task.html" %}
</section>
<section>
    <div hx-get="/tasks" hx-trigger="load" />
</section>
{% if Config.APP_AUTH %}
    <button class="outline secondary" hx-post="/logout" hx-trigger="click" hx-swap="none">Logout</button>
{% endif %}
{% endblock content %}

{% block script %}
{% include "scripts/htmx.html" %}
{% include "scripts/validation.html" %}
{% include "scripts/notifications.html" %}
{% endblock script %}
